* {
    /* border: 1px solid black; */
}

body, html {
    height: 100%;
}

img {
    overflow: hidden;
}
:root {
    --bg-color: rgb(255,255,255);

    --main-color: #4CAF50;
    --main-color-dark: #689F38;
    --main-color-light: #DCEDC8;

    --accent-color: #03A9F4;

    --text-color: grey;
    --color-1: var(--main-color);
    --color-2: var(--accent-color);
}


/* ----------- Nav ----------- */
.nav-color {
    background-color: var(--main-color);
    box-shadow: 1px 0px 5px 0px var(--gray-dark);
}

#banner {
    margin-top: 5px;
    height: 70%;   
}

#banner-img {
    width: 100%;
    height: 100%;
}

#welcome {
    padding-top: 40px;
}

#welcome h1 {
    color: var(--accent-color);

}

/*------------- Members -------------*/

.membertron {
    margin: 10px 0px;
    padding: 2rem 2rem;
    width: 100%;

    /* background-color: rgb(250,250,250); */

    overflow: hidden;
}

.membertron .member-cards-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.membertron .card-box {
    min-width: 240px;
    width: 23%;    
    margin-bottom: 1rem;

    padding: 1rem;
}


.membertron .member-type {
    padding-bottom: 1rem;
    color: var(--accent-color);
    font-size: 3rem;
}

.membertron img {
    margin: auto;
    width: 200px;
}

.membertron .member-body {
    margin-top: 20px;
    border: none;
}

.membertron .member-name {
    font-size: 2rem;
    font-weight: 400;
    
    margin-top: 0px;
    padding-top: 0px;
}


.membertron .member-text {
    font-size: 1.25rem;
}

/* ----------------- Publications ----------------- */
.publication-section {
    /* display: flex; */
}
.publication-box {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
}

.publication-text {
    margin: auto;
    width: 90%;
}
.publication-text h1 {
    font-size: 2rem;
}

.publication-text p {
    font-size: 1rem;
}

.btn-publication {
    /* margin-top:-5rem; */
}

.event-container {
    margin:10px auto;
    width: 80%;
    height: 85%;
    
}

.course-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.btn-course {
    margin: 10px 0px 0px 0px;
    padding-left: 2rem;
    text-align: left;
}