* {
    /*    border: 1px solid black !important;*/
}

:root {
    --main-color: #f56a6a;
}

.custom-disabled-nav-link {
    color: #909aa2 !important;    
}

.custom-disabled-nav-link:hover {
    color: #909aa2 !important;    
}

/* Members */

.custom-mem-img {
    margin-right: 2em !important;
}

.custom-mem-txt p {
    margin-bottom: 0.25em !important;

}

.custom-mem-txt a {
    display: block;
    border: none !important;
    margin-bottom: 1em !important;
}

.custom-mem-btn {
    margin-top: 3em !important;
    max-width: 15em;
}

.custom-mem-box {
    display: flex;
    flex-wrap: wrap;
}

.custom-mem-box h3 {
    color: #757575 !important;
    font-weight: 100 !important;
}

.custom-mem-box div {
    text-align: center;
    width: 32%;

    padding-right: 1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;

}

.custom-former-graduate-box {
/*    border-radius: 1em;*/
/*    padding: 1em;*/
/*    background-color: #FAFAFA;*/
/*    border-bottom: 1px solid #BDBDBD;*/
    
}

.custom-former-graduate-box h3 {
/*    margin: auto auto !important;*/
/*    border-bottom: 1px dotted #757575;*/
    font-weight: 900 !important;
    margin-bottom: 0.25em !important;
    
}

/* Courses  */

.custom-course-container {
    display: flex;
    flex-direction: column;
}

.custom-course-container .custom-btn {
    margin-bottom: 1.5em !important;
}

.custom-course-container .card {
    margin-bottom: 1.5em !important;
}

/* Publications */

.custom-pub-container h3 {
    margin-bottom: 0.5em;
    /*    padding: 10em !important;*/
}

.custom-pub-icon {
    height: 2em;
}

.custom-pub-icon-link {
    border: none;
}
/* Header */

.custom-header {
    margin-top: 3em;
    padding: 1.3em 0em;
    border-bottom: #f56a6a 5px solid;

    display: flex !important;
    justify-content: space-between !important;
}

.custom-header a {
    font-family: "Roboto Slab", serif;
    border: none;
    color: #7f888f;
    font-weight: 500;
    font-size: 1.1em;
}

.header-logo {
    float:right;
    margin-left: 0.5em;
    height: 25px !important;
}

.custom-sm-btm-space {
    margin-bottom: 0.5em;
}

.custom-project-img-1 {
    float:left !important;
    width: 25em;
    overflow: hidden;
    margin: 1em;
}

.custom-project-img-2 {
    width: 100%;
    overflow: hidden;
    margin: 1em;
}

.custom-page-ending {
    background: linear-gradient(var(--main-color), #e75656);
    width:100%;
    height: 6em;
}

/* ------------------- Arrow ---------------------- */

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.35em;
    margin: auto 0.3em;
    border-radius: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}