* {
    /*    border: 1px solid black !important;*/
}

:root {
    --main-color: #f56a6a;
}

/* ----------- Nav ----------- */
.custom-disabled-nav-link {
    color: #909aa2 !important;    
}

.custom-disabled-nav-link:hover {
    color: #909aa2 !important;    
}

/* ----------- Index ----------- */

.banner {
    width: 100%;
    margin-top: 1em;
}

/* ----------- NEWS ----------- */

.news article {
    display: flex;
    margin-bottom: 2em;
    
    border-bottom: 1px solid #bab8bb;
}

.news article h3 {
    margin-bottom: 0;
}

.news-icon {
    width: 5em;
    margin-right: 1.5em;
    
}

/* ----------- Members ----------- */

.custom-mem-img {
    margin-right: 2em !important;
    align-items: flex-end;
    display: flex;
    
}

.custom-mem-img img {
    vertical-align: bottom !important;
}

.custom-mem-txt p {
    margin-bottom: 0.25em;

}

.custom-email {
    display: block;
    border: none;
    margin-bottom: 2em;
}

.custom-mem-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-mem-box h3 {
    color: #757575;
    font-weight: 100;
}

.custom-mem-box div {
    text-align: center;
    width: 32%;
    min-width: 200px;

/*    padding-right: 1em;*/
/*    margin-right: 0.5em;*/
    margin-bottom: 0.5em;

}

.custom-former-graduate-box {
    
}

.custom-former-graduate-box h3 {
    font-weight: 900;
    margin-bottom: 0.25em;    
}


/* ----------- Courses ----------- */

.custom-course-container {
    display: flex;
    flex-direction: column;
}

.custom-course-container .custom-btn, .custom-course-container .card {
    margin-bottom: 1.5em;
}

/* ----------- Publications ----------- */

.custom-pub-container h3 {
    margin-bottom: 0.5em;
}

[href$=".pdf"], [href$=".bib"], [href$=".ppt"] {
 border: none;
}

[href$=".pdf"]::after {    
  content: url('../../images/pdf_icon_small.png');
}

[href$=".bib"]::after {    
  content: url('../../images/bib_icon_small.png');
}

[href$=".ppt"]::after {    
  content: url('../../images/powerpoint_icon_small.png');
}



/* ----------- Header ----------- */

.custom-header {
    margin-top: 3em;
    padding: 1.3em 0em;
    border-bottom: var(--main-color) 5px solid;

    display: flex;
    justify-content: space-between;
}

.custom-header a {
    font-family: "Roboto Slab", serif;
    border: none;
    color: #7f888f;
    font-weight: 500;
    font-size: 1.1em;
}

.header-logo {
    float: right;
    margin-left: 0.5em;
    height: 25px !important;
}

/* ----------- Projects ----------- */

.custom-close-paragraphs {
    margin-bottom: 0.5em;
}

.custom-project-img-1 {
    float:left;
    width: 25em;
    overflow: hidden;
    margin: 1em;
}

.custom-project-img-2 {
    width: 100%;
    overflow: hidden;
    margin: 1em;
}



/* ----------- Other ----------- */

.no-border {
    border:none;
}

.custom-width-med {
    width: 12em;
}

.custom-page-ending {
    background: linear-gradient(var(--main-color), #e75656);
    width:100%;
    height: 6em;
}

/* ------------------- Arrow ---------------------- */

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.35em;
    margin: auto 0.3em;
    border-radius: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {

  display: none;
}




